.child-comment-dot {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin-right: 20px;
  background-color: gray;
}

.child-comment-dot::after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  width: 5px;
  height: 130px;
  background-color: gray;
}
