.child-comment-dot {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin-right: 35px;
  margin-left: 10px;
  margin-bottom: 15px;
  background-color: var(--bg-yellow);
}

.child-comment-dot::after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  width: 5px;
  height: 170px;
  background-color: var(--bg-yellow);
}

.comment__icon:focus {
  outline: none !important;
}
