.square {
  width: 30vw;
  height: 30vw;
  flex-shrink: 0;
  border-radius: 20px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
}

/* .square:after {
  content: "";
  display: block;
  padding-bottom: 50%;
} */
