* {
  box-sizing: border-box;
}
.form-container{
 
}
.form-title{
  padding: 1rem;
}

.form {
    display: flex;
    flex-direction: column ;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.input-form-register {
   @apply rounded-3xl w-80 border border-gray-400;
}