section.notfound {
  @apply flex flex-col items-center justify-center flex-grow w-full min-h-full px-4 py-16 mx-auto max-w-7xl sm:px-6 lg:px-8;
}

div.notfound__content {
  @apply flex-shrink-0 md:py-0 my-auto sm:py-32;
}

div.notfound__content-flex {
  @apply flex flex-col items-center gap-0;
}

span.notfound__content--error {
  @apply font-['nunito'] text-[350px] font-extrabold tracking-wide text-center text-[#FC664E] leading-[190px];
}

span.notfound__content--title {
  @apply font-['nunito'] text-7xl text-center text-black leading-[170px];
}

div.notfound__content--link {
  @apply mt-6 text-center flex right-14 absolute bottom-7;
}

a.notfound__content--link__text-link {
  @apply right-0 justify-end text-base font-medium text-indigo-600 hover:text-indigo-500 hover:text-xl hover:font-bold;
}

span.arrow {
  @apply w-10 h-10 text-3xl font-bold;
}