.card-categ-contain {
    background: #C4C4C4;
    line-height: 1.5;
    font-size: 1rem;
    border-radius: 20px;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.15);
    overflow-y: hidden;
    position: relative;
}

.category-card-footer {
padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    
}

.category-card-icons {
    position: absolute;
    display: flex;
    justify-content: space-around;
    top: 20px;
    right: 20px;
    font-size: 2rem;
}
.category-card-icon{
    color: white;
}